[Archive link](https://mailarchive.ietf.org/arch/msg/tls/i2A1x7ujSBbFeG5vLeyg1dn45UQ/) for reference

Please take a look at #14  Many of these points are now moot, as we are no longer trying to explain or justify a pure versus hybrid key exchange. This is now just getting back to the basics: if you want to do "this thing" then here is how to do it interoperably.

It is up to those implementing, or deploying, either pure or hybrid, to determine what best meets their situation and concerns. Trying to come up with a decision tree or algorithm to decide has led to madness and churn in the TLS working group.

I understand you, and others, may consider this approach to be cop-out and avoiding the hard question.

I believe, once #14 is merged, this issue can/should be closed.

Hi Rich,
Thank you for the PR and for taking care of the comments. Sorry, I don't see how #14 currently addresses any of my points in this issue. 

1. Intro still seems empty.
2. Motivation seems unchanged.
3. No references yet
4. No references yet
5. Not addressed
6. No references yet

I can live with one option: If we absolutely have to publish it, I believe we should first recommend hybrids.

Recommending hybrids is out of scope for this draft, which says "here is how to do ML-KEM standalone." The TLS WG has already expressed its preference, by making both styles as `RECOMMENDED N` in the registries. Revisiting that is a topic for the working group, not this document.

Let me review your points in detail. In doing so, I wonder if you looked at the new text or some mixture? My response to your point 3 is perhaps the overarching response here.

>  1. No introduction: at least give an overview of important places to visit in PQ-land for tourists like me (namely other PQC efforts in TLS WG)

That kind of thing belongs in PQUIP or other documents. A roadmap for tourists is out of scope for this.
 
>     2. Insufficient motivation: who needs it? who will implement it?

The TLS WG adopted this document, that is `prima facie` evidence that there is some motivation. If the WG decides not to publish the document, that is counter-evidence that overrides.
 
>     3. No additional references added in motivation since WGLC: IIRC, John Mattsson mentioned some references in the previous WGLC (will have to dig the links). I wonder why they were not added.

They were not added because, as we have seen in this document, and as I have had direct experience with other documents (E.g., RFC 9501 and its IESG review), adding more words tends to make the issues more complicated rather than leading to more resolution.
 
>     4. Which "regulatory frameworks require standalone PQ"? Please give authentic references with exact section numbers.

Neither word "regulatory" nor "framework" appear any more.
 
>     5. "targeting smaller key sizes or less computation": smaller compared to what? Please give authentic references of where key size comparison is done.

First neither word "target" nor "smaller" appear any more. Second are you seriously suggesting that we have to prove that `A+B > A` ? :)
 
>     6. simplicity: in terms of what criteria? Please give authentic references.

The word "simplicity" (or even its base "simpl") does not appear any more.

> I wonder if you looked at the new text or some mixture?

Apologies. I was looking only changes in your PR, and missed some recent commits. At a minimum for 1, I would have expected to add one reference to some PQUIP document for readers. Adding one line should not hurt but I can live with it. 

---
Basically, 2-6 all have to do with motivation and the way it is resolved by prior commits prior to this PR is basically to completely remove motivation. Please see below:

> > 
> > 3. No additional references added in motivation since WGLC: IIRC, John Mattsson mentioned some references in the previous WGLC (will have to dig the links). I wonder why they were not added.
> 
> They were not added because, as we have seen in this document, and as I have had direct experience with other documents (E.g., RFC 9501 and its IESG review), adding more words tends to make the issues more complicated rather than leading to more resolution.

Sure, my point is: if the experts in TLS WG cannot resolve it, how will implementers and naive regulators resolve it? IMHO, the draft needs to provide some motivation/guidance for what kind of use cases one should use pure ML-KEM. 

---

> are you seriously suggesting that we have to prove that A+B > A ? :)

My question `smaller compared to what?` was actually asking what is A+B? :)

Can I propose some simple wording?

> Q-Day is the future, non-fixed date when a Cryptographically Relevant Quantum Computer (CRQC) becomes powerful enough to break currently recommended encryption standards (RSA, ECC, and ECDHE), leaving digital communications vulnerable. Harvest Now, Decrypt Later (HNDL) is an attack that could potentially enable storing today's communication for decryption in the future, after Q-Day. HNDL might be possible against communication over public or untrusted channels. After Q-Day, ML-KEM should be preferred over hybrid and currently recommended encryption standards. Prior to, or in anticipation of Q-Day, or if HNDL is a concern, hybrid schemes may be preferred over ECDHE. There is no current consensus on when or if Q-Day will happen.

I hope that accurately describes all viewpoints from various researchers, agencies, regulators, CA/B forum, deployers and users. For example, if one has physically protected and isolated network of trusted communication only without any potential for eavesdropping - one can correctly make the choices that ML-KEM is not needed (an air-gapped server rack with a kubernetes cluster on a submarine without any external communication). On the other hand, if one is developing quantum computers that communicate over the public internet - they may skip implementing any current encryption standards and only use ML-KEM. Other client and servers would fall somewhere in between and can choose their own risk level - for example short lived services that serve data that becomes public after a short delay can err on the side of not using hybrids. Providers handling unknown data can choose to use hybrid schemes today. And so on.

If needed, I can proposed a pull request, or post this to relevant mailing lists to ensure adequate review and consensus.

Thank you @xnox. Yes, please propose a PR for WG discussion.

Again, I still do not believe this kind of text belongs in a document that describes how to do one particular thing.  Check out the "PQ for engineers" or other documents from the PQUIP working group.


As for "smaller compared to what," the answer is "MLKEM+ECDHE" compared to "just MLKEM". Now, many consider that difference negligible. I am not so sure it is *always* negligible.

> Sure, my point is: if the experts in TLS WG cannot resolve it, how will implementers and naive regulators resolve it? IMHO, the draft needs to provide some motivation/guidance for what kind of use cases one should use pure ML-KEM.

I disagree.  Because then, as I said earlier, we end up in endless discussions of people who accept the justifications and those who don't.

A problem with the wording proposed by https://github.com/tlswg/draft-ietf-tls-mlkem/issues/9#issuecomment-4180897799 (and thank you for thinking about this, @xnox) is that it assumes everyone can upgrade or move to pure MLKEM. Sometimes that is not feasible.

Re-reading [Guidelines for Writing RFC Text on Security Considerations](https://datatracker.ietf.org/doc/html/rfc3552) the wording I proposed should likely go into RFC about the currently recommended ECDHE and/or hybrids; and not the TLS-MLKEM draft. As everything I say, is actually security consideration of ECDHE and hybrids; rather ml-kem.

I really like the security section in [RFC9936](https://datatracker.ietf.org/doc/rfc9936/) and how it references other RFC and also the ML-KEM specific security considerations:

> The Security Considerations sections of [RFC9935](https://datatracker.ietf.org/doc/rfc9935/) and [RFC9629](https://datatracker.ietf.org/doc/rfc9629/) apply to this specification as well.
>
> For ongoing discussions of ML-KEM-specific security considerations, refer to [MLKEM-SEC-CONS](https://datatracker.ietf.org/doc/html/draft-sfluhrer-cfrg-ml-kem-security-considerations-04).

- Hybrids recommendation set to Y and [addressed](https://mailarchive.ietf.org/arch/msg/tls/NPOK-YKZGoRYE1xZA_57mULvoEg/) by John's clarification
- Key reuse forbidden in RFC8446bis which is normatively cited
- Formal analysis done

I can live with the rest of the minor items in the issue.